<% content_for :title do %>My first dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-text="Sarath Mantrala" data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    	<div data-id="sandp" data-view="Number" data-title="S&P" style="background-color:#b86bd0"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="dowjones" data-view="Number" data-title="Dow Jones"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="nasdaq" data-view="Number" data-title="Nasdaq" style="background-color:#dc5945"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="apple" data-view="Number" data-title="Apple" style="background-color:#96bf48;"></div>
    </li>   

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="googled" data-view="List" data-unordered="true" data-title="Google Trends" data-moreinfo="Current trending searches in google"></div>
    </li> 


  </ul>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46298019-1', 'dashingexchange.herokuapp.com');
  ga('send', 'pageview');

</script>